@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  background: url("/images/bg-intro-desktop.png"), #ff7a7a;
  background-size: cover;
}

.hero {
  min-height: 100vh;
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left-box {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 5rem;
}

.left-box h1 {
  font-size: 4rem;
}

.left-box p {
  font-size: 1.7rem;
}

.right-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 5rem;
}

.offer {
  background: #6055a5;
  color: white;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  border-radius: 7px;
  font-size: 1.7rem;
  font-weight: 300;
  -webkit-box-shadow: 1px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.offer span {
  font-weight: 700;
}

.form-wrapper {
  background: white;
  padding: 4rem;
  border-radius: 7px;
  -webkit-box-shadow: 1px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-control {
  margin-bottom: 3.5rem;
  position: relative;
}

.form-control input {
  width: 100%;
  padding: 1.8rem 3rem;
  border-radius: 7px;
  border: 1.5px solid lightgray;
  outline: none;
}

.form-control input:focus {
  border: 1.5px solid #3e3c49;
}

::-webkit-input-placeholder {
  color: #857e7e;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

:-ms-input-placeholder {
  color: #857e7e;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

::-ms-input-placeholder {
  color: #857e7e;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

::placeholder {
  color: #857e7e;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.form-control input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control input:focus:-ms-input-placeholder {
  color: transparent;
}

.form-control input:focus::-ms-input-placeholder {
  color: transparent;
}

.form-control input:focus::placeholder {
  color: transparent;
}

button {
  margin-bottom: 1rem;
  height: 4rem;
  border-radius: 7px;
  border: none;
  background: #38cc8c;
  color: white;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 5px 0 rgba(12, 172, 102, 0.87);
          box-shadow: 1px 5px 0 rgba(12, 172, 102, 0.87);
}

button:hover {
  background: #8ceec3;
}

.terms {
  text-align: center;
  color: lightgray;
  font-size: 1.3rem;
}

.terms span {
  color: #ff7a7a;
  font-weight: 700;
}

.error-icon {
  position: absolute;
  top: 13px;
  right: 25px;
  opacity: 0;
}

small {
  position: absolute;
  top: 60px;
  right: 10px;
  font-size: 1.2rem;
  color: #ff7a7a;
  font-weight: 600;
  opacity: 0;
}

.form-control.error input {
  border: 2px solid #ff7a7a;
}

@media screen and (max-width: 1080px) {
  .left-box,
  .right-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50rem;
            flex: 1 1 50rem;
  }
  .left-box {
    padding-top: 10rem;
    padding-bottom: 0;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 55%;
  }
  .hero {
    width: 97%;
    margin: auto;
  }
  .left-box {
    padding-bottom: 4rem;
  }
  .offer {
    margin-bottom: 3rem;
    text-align: center;
  }
  .form-wrapper {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 53%;
  }
  .hero {
    width: 100%;
    margin: 0 5px;
  }
  .offer {
    padding: 5rem 7rem;
    text-align: center;
  }
  button {
    padding: 2.5rem 3.5rem 4.5rem;
  }
}
/*# sourceMappingURL=style.css.map */